hr {
    height: 2px;
    background-color: black;
}

p {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    border: solid black;
    border-radius: 10px;
    width: 90%;
}

img {
    border-radius: 50px;
    Border: solid black;
}

body {
    background-color: lightblue;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
