body {
    background-color: lightpink;
}

p {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    border: solid black;
    border-radius: 10px;
    width: 42%;
}

hr {
    background-color: black;
    height: 2px;
}

.border {
    border: solid black;
    border-radius: 25px;
}

a {
    display: inline-block;
}

a:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
