body {
    background-color: lightpink;
}

p {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    border: solid black;
    border-radius: 10px;
    width: 42%;
}

hr {
    background-color: black;
    height: 2px;
}

img {
    border: solid black;
    border-radius: 25px;
}
